{% block footerContent %}      
    <footer>
        <div class="container">
            <div class="row">
                <p>Todos los derecheos reservador por PUCP Virtual</p>
            </div>
        </div>
    </footer> 
{% endblock %}