{% block leftContent %}
    <section class="box_main_project">
        <article>
            <h2>22 Jan 2015 PHP 5.4.37 Released</h2>
            <p> 
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem><a href="#">prueba de un enlace</a>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            </p>
        </article>
        <article>
            <h2>Ejemplo de para poner código se pone entre etiquetas 'pre'</h2>
            <div class="box_code_project">
                <pre><span class="blue_code">&lt;p&gt;la clase es 'blue_code'&lt;/p&gt;<br></span><span class="green_code">&lt;p&gt;la clase es 'green_code'&lt;/p&gt;<br></span><span class="red_code">&lt;p&gt;la clase es 'red_code'&lt;/p&gt;<br></span><span class="gray_code">&lt;p&gt;la clase es 'gray_code'&lt;/p&gt;</span></pre>
            </div>
        </article>
        <article>
            <h2>22 Jan 2015 PHP 5.4.37 Released</h2>
            <p> 
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem><a href="#">prueba de un enlace</a>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            </p>
        </article>
        <article>
            <h2>22 Jan 2015 PHP 5.4.37 Released</h2>
            <p> 
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem><a href="#">prueba de un enlace</a>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, odit.</Lorem>
            </p>
        </article>
    </section>
{% endblock %}