{% block breadcrumb %}
    <section class="box_minor_project">
        <article class="enlaces_directos">
            <h3>Enlaces directos</h3>
            <ul>
                <li><a href="#">Enlace número 1</a></li>
                <li><a href="#">Enlace número 2</a></li>
                <li><a href="#">Enlace número 3</a></li>
                <li><a href="#">Enlace número 4</a></li>
                <li><a href="#">Enlace número 5</a></li>
                <li><a href="#">Enlace número 6</a></li>
            </ul>
        </article>
        <article class="enlaces_resultados">
            <h3>Enlaces resultados</h3>
            <ul>
                <li><a href="#">Enlace número 1</a></li>
                <li><a href="#">Enlace número 2</a></li>
                <li><a href="#">Enlace número 3</a></li>
                <li><a href="#">Enlace número 4</a></li>
                <li><a href="#">Enlace número 5</a></li>
                <li><a href="#">Enlace número 6</a></li>
            </ul>
        </article>
    </section>
{% endblock %}