{% extends "Theme"~theme|capitalize~"Bundle::public.html.twig" %}
{% block content %}
    <ol>
    {% for subproject in subprojects %}
        <li>{{subproject.name}}
            <ul>
                {% for plugin in subproject.plugin %}
                    <li><a href="{{path('core_default_viewdoc', {'project': project,'type':subproject.name,'name':plugin.name})}}">{{plugin.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
{% block header %}
    {% include "ThemeDefaultBundle::menu.html.twig" %}
    {% include "ThemeDefaultBundle::breadcrumb.html.twig" %}
{% endblock %}